body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.regLogin{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8rem;
}
.form-body{
  font-family: serif;
  outline: 1px solid rgba(204, 204, 204, 0.893);
  padding: 25px;
  border-radius: 5px;
  max-width: 350px;
}

.log-here{
  color: rgba(84, 83, 83, 0.849);
  text-align: center;
  padding: 15px;
  outline: 1px solid #ccc;
}
.log-google{
  text-align: center;
}
.googleLogo{
 
  height: 80px;
  padding: 5px;
}

.submit--btn{
  display: flex;
 align-self: center;
}

.sign-out{
 width: 90px;
  margin-top: 20px;
}